*:focus {
    outline: none;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    background: #FFF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 5px 0;
}

ul li:hover {
    background: #dce7f5;
    border-radius: 5px;
}

input,
select {
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: box-shadow 0.5s ease;
}

input:hover,
select:hover {
    box-shadow: 0 0 8px #0fbdff;
}

input {
    padding: 2px 0 2px 5px;
    width: 200px;
}

input[type="text"]:disabled {
    background: #FFF;
}

select {
    width: 205px;
    padding: 2px 0;
}

.clearfix {
    overflow: auto;
}

.wrapper {
    margin: 200px auto;
    width: 539px;
    background: #e5edf6;
    border-radius: 10px;
    padding: 17px;
}

.inputs {
    display: inline;
    float: right;
}

.btn {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-green {
    background-color: #4CAF50;
    transition: box-shadow 0.5s ease;
}

.btn-green:hover {
    box-shadow: 0 0 10px 0 #4caf50;
}

.btn-red {
    background-color: #ff8484;
    transition: box-shadow 0.5s ease;
}

.btn-red:hover {
    box-shadow: 0 0 10px 0 #ff8484;
}

.hidden {
    display: none;
}

.error-message {
    border-radius: 5px;
    text-align: center;
    color: #ff0000;
    background-color: #ffcbcb;
}

.summary {
    float: right;
    display: block;
    border-radius: 5px;
    margin-top: 6px;
}

.copied {
    margin-top: 5px;
    font-size: 14px;
    color: #01ab00;
    font-weight: bold;
    background: #d4ffdc;
    text-align: center;
    border-radius: 5px;
}