body {
    font-size: 18px;
    font-family: sans-serif;
    color: #000;
    background: #FFF;
    line-height: 2.0;
}

.wrapper {
    margin: 200px auto;
    width: 920px;
    background: #e5edf6;
    border-radius: 10px;
    padding: 17px;
}

input,
select {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

input,
select:focus {
    outline: none;
}

button,
select {
    text-transform: none;
}

input,
select {
    padding: 2px 8px;
    font-size: 18px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input {
    width: auto;
}